<!--
  ~ This file is part of TYPO3 CMS-based extension "deepl_translate" by werkraum.
  ~
  ~  It is free software; you can redistribute it and/or modify it under
  ~  the terms of the GNU General Public License, either version 2
  ~  of the License, or any later version.
  ~
  -->

<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
>
<div class="card-container">
    <div class="card ">
        <div class="card-header">
            <div class="card-icon me-3">
                <img src="{f:uri.resource(path: 'EXT:wr_deepl_translate/Resources/Public/Images/extended_version.png', absolute: '1')}" alt="" width="150" height="115"/>
            </div>
            <div class="card-header-body d-flex flex-column align-items-start justify-content-between py-2 h-100" style="max-width: 18rem">
                <h2 class="card-title fw-semibold fs-3"><f:translate key="LLL:EXT:wr_deepl_translate/Resources/Private/Language/locallang_extended.xlf:extended_title" /></h2>
                <a href="https://werkraum.net/typo3-deepl-integration" class="btn btn-link fs-3 py-0" target="_blank" rel="noreferrer noopener" style="--bs-btn-color: #FF7300;"><span><f:translate key="LLL:EXT:wr_deepl_translate/Resources/Private/Language/locallang_extended.xlf:extended_link_text" /></span> <img src="{f:uri.resource(path: 'EXT:wr_deepl_translate/Resources/Public/Icons/chevron_right_extended.svg', absolute: '1')}" alt="" width="13" height="12"/></a>
            </div>
        </div>
    </div>
</div>
</html>
